body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 350px !important;
  /* line-height: 160px; */
  background: #ffffff;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel .slick-dots li button {
  background: black !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 5px !important;
  border-color: white !important;
  border-style: solid !important;
}
.ant-menu {
  background: #34495e !important;
}
.ant-menu-item a:only-child{
  color: white !important;
}
.ant-menu-item a:only-child{
  color: white !important;
}
.ant-menu-item-selected{
  color: white !important;
}
.ant-layout-content{
  background: #909499;
}
.ant-layout-footer{
  background: #909499 !important;
}
#navbar{
  background: #34495e;
}
#navbar h1{
  color: white;
}